version: "3"

services:
  nodejs:
    image: oreplay/frontend:v${VITE_VERSION_NUMBER}
    #build:
    #  context: .
    #  dockerfile: docker/Dockerfile
    command: bash -c "npm install --ignore-scripts && npm run dev"
    #command: sh -c "tail -f /dev/null"
    working_dir: /var/www
    env_file:
      - .env
    ports:
      - "8080:8080"
      - "4173:4173"
    volumes:
      - .:/var/www
    extra_hosts:
      - "host.docker.internal:host-gateway"
